---
import Layout from "../../../../../layouts/Layout.astro";
import BlogPost from "../../../../../components/blog/BlogPost_S10.astro";
import Heading from "../../../../../components/ui/Heading.astro";

const allPosts = Object.values(import.meta.glob("./*.md", { eager: true }));

const postsToShow = allPosts.sort((a, b) =>
  new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime()
);
---

<Layout title="HTB Season 10">
  <section class="py-8 max-lg:px-4 max-md:px-8 max-sm:px-0 max-md:py-4 max-w-4xl mx-auto">
    <div class="flex gap-4 pb-6 items-center text-center justify-center">
      <Heading text="Hackthebox" textGradient="Season 10" level={2} />
    </div>
    <div class="flex flex-col gap-8 w-full mx-auto">
      {postsToShow.length > 0 ? (
        postsToShow.map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            date={post.frontmatter.pubDate}
            tags={post.frontmatter.tags}
            languages={post.frontmatter.languages}
            image={post.frontmatter.image}
          />
        ))
      ) : (
        <p class="text-center text-zinc-400">No more posts yet for Season 10.</p>
      )}
    </div>
  </section>
</Layout>

